<div class="modal fade" id="updateModalList" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content p-2" style="border-radius: 10px;">
			<div class="modal-header p-3">
				<h5 class="modal-title" id="modalTitle">Cambiar nombre lista</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body pb-0">

				<form id="userForm" method="POST" action="{{ url_for('shatask.listas.post.save') }}">
					<input type="hidden" name="id" value="{{ list.ID }}">
					<input type="hidden" name="nombre" value="{{ list.nombre }}">
					<input type="hidden" name="user_id" value="{{ list.user_id }}">
					<div class="mb-3">
						<label class="form-label">Nombre de la lista</label>
						<input type="text" name="nombre" class="form-control" placeholder="Pon tu nombre de usuario">
					</div>
					<div class="modal-footer p-0">
						<button type="submit" id="submitUser" class="btn text-white w-100 mt-3" style="background-color: #FF3B3B;">Modificar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
