DEBUG=true
LOCAL_ENV=true

#APP CONFIG
APP_DIRECTORY=""

#DB VARIABLES LOCAL
DB_USER=""
DB_PASS=""
DB_HOST="db"
DB_NAME="sha-task"
CHARSET=utf8

#DB VARIABLES LOCAL SHA-TASK
DB_NAME_APP="sha-task"
DB_USER_APP=""
DB_PASS_APP=""
DB_HOST_APP="db"
DB_HOST_PORT_APP=null
CHARSET_APP=utf8

SECURE_TOKEN="changeme"