<div class="d-flex flex-column flex-shrink-0 p-5 align-items-center container-sidebar">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
		<span class="fs-4">
			<img src="{{ full_path() }}/images/logo-letra-igual-sha-task-pink.png" alt="Logo" height="40" class="me-2">
		</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-5">
		<li class="nav-item mb-2">
			<a href="{{ url_for('shatask.listas.get.list') }}" class="btn btn-primary" aria-current="page">
				<i class="bi bi-house-door"></i>
				Home
			</a>
		</li>
		<li class="nav-item">
			<a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#createList">
				<i class="bi bi-plus-square pe-2"></i>Crear nueva lista
			</a>
		</li>
	</ul>
	<div class="align-self-start">
		<small class="text-muted">Private</small>
	</div>
	<ul class="flex-column mb-auto scroll-ul">
		{% for list in lists %}
			<li class="mt-3 mb-3 width-150">
				<a href="{{ url_for('shatask.tareas.get.list', { lista_id: list.ID }) }}" class="nav-link link-dark">
					{{ list.nombre }}
				</a>
			</li>
		{% endfor %}
	</ul>
	<hr>
	<div>
		<a class="btn btn-primary" href="/shatask/logout">Cerrar sesión</a>
	</div>
</div>
